{% extends "layout.html" %}

{% block pageTitle %}
  Product list
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
  		<ol class="govuk-breadcrumbs__list">
  			<li class="govuk-breadcrumbs__list-item">
  				<a class="govuk-breadcrumbs__link" href="/">
  					Account home
  				</a>
  			</li>
  			<li class="govuk-breadcrumbs__list-item">
  				<a class="govuk-breadcrumbs__link" href="/goods/">
  					Product list
  				</a>
  			</li>
  			<li class="govuk-breadcrumbs__list-item">
  				Product
  			</li>
  		</ol>
  	</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <h1 class="govuk-heading-xl">Lorem ipsum material</h1>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is it a firearm product?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Select the product category
      </dt>
      <dd class="govuk-summary-list__value">
        It forms part of a product
      </dd>
      <dd class="govuk-summary-list__actions">
              </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is it a material or substance?
      </dt>
      <dd class="govuk-summary-list__value">
      Yes
      </dd>
      <dd class="govuk-summary-list__actions">

      </dd>
    </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Give the product a descriptive name
          </dt>
          <dd class="govuk-summary-list__value">

              Your answer here

          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>



    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you know the product's control list entry?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Enter the control list entry
      </dt>
      <dd class="govuk-summary-list__value">
        Your answer here
      </dd>
      <dd class="govuk-summary-list__actions">

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Part number (optional)
      </dt>
      <dd class="govuk-summary-list__value">
      Your answer here
      </dd>
      <dd class="govuk-summary-list__actions">

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Does the product have a government security grading or classification?
      </dt>
      <dd class="govuk-summary-list__value">

          No

      </dd>
      <dd class="govuk-summary-list__actions">


      </dd>
    </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Do you have a document that shows what your product is and what it’s designed to do?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Is the document rated above Official-sensitive?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
        <dd class="govuk-summary-list__actions">
          </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Upload a document that shows what your product is designed to do
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="/none"> my-tech-spec.pdf</a>
      </dd>
      <dd class="govuk-summary-list__actions">
        </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is the product specially designed or modified for military use?
    </dt>
    <dd class="govuk-summary-list__value">
  Your answer here
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
</div>


  </div>

{% endblock %}
