{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Have you been told to apply for any of the following reasons?</h1>

<p>For example, you may have received letters or emails from Border Force, the Export Control Joint Unit (ECJU) or HMRC.
      <form class="form" action="/task-list" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set refHtml %}
      {{ govukInput({
        id: "ref",
        name: "ref",
        type: "ref",
        autocomplete: "ref",
        spellcheck: false,
        classes: "govuk-input--width-20",
        label: {
          text: "Enter reference from email or letter "
        }
      }) }}
      {% endset -%}


        {{ govukCheckboxes({
              idPrefix: "any-letter",
          name: "any-letters",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
        items: [
            {
              value: "military",
              text: "Products are subject to military end-use controls",
      conditional: {
        html: refHtml
      }
            },
            {
              value: "wmd",
              text: "Products may be used in chemical, biological or nuclear weapons (or in missiles capable of delivering those weapons)",
      conditional: {
        html: refHtml
      }
            },
            {
              value: "wmd",
              text: "Products may be used for internal repression or serious human rights violations",
      conditional: {
        html: refHtml
      }
            },
            {
     divider: "or"
   },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
