{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/criminal-convictions-gb">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Upload a prior import consent (PIC) form</h1>

      <p class="govuk-body">The PIC form tells us that the destination country is content to import the firearms.

      <form class="form" action="/criminal-convictions-2-answer" method="post">

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

    {{ govukFileUpload({
      id: "file-upload-pcf",
      name: "file-upload-pcf",
      label: {
        text: "Upload a file"
      }
    }) }}

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "pic description",
          id: "pic description",
          autocomplete: "pic description",
          label: {
        classes: "govuk-label--l"
  },
  hint: {
    text: "If you do not have a PIC form, explain why."
  }
        }) }}


          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "in-english",
            name: "in-english",
            fieldset: {
              legend: {
                text: "Is the end-user document in English?"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}


        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with the prior import consent form
    </span>
  </summary>
        <div class="govuk-details__text">
        <p>You must have PIC before submitting a firearms export licence application.</p>
        <p>Many countries do not class some weapons to be firearms so a PIC form is not issued. In this instance, an end-user undertaking form (EUU) is sufficient. It must be submitted together with a letter or email from the relevant importing countries licensing authorities stating that a PIC or equivalent cannot be issued.</p>
      </div>
    </details>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
