{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/end-user-6">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Upload an end-user document</h1>

      <p class="govuk-body">Upload an <a href="https://www.gov.uk/government/publications/end-user-undertaking-euu-form"> end-user undertaking (EUU)</a>, <a href="https://www.gov.uk/government/publications/stockist-undertaking-su-form">stockist undertaking (SU) or a purchase invoice.</a></p>

<p>When the end-user is a government, you can attach a purchase order instead of an EUU or SU.</p>

<p>Files must be smaller than 50MB.</p>

      <form class="form" action="/end-user-7-answer" method="post">

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{{ govukFileUpload({
  id: "file-upload-euu",
  name: "file-upload-euu"
}) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% set noHtml %}
{{ govukFileUpload({
  id: "file-upload-not-english",
  name: "file-upload-not-english",
  label: {
    text: "Upload an English translation. The translated version must be on company letterhead and verified by the exporter. "
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "in-english",
  name: "in-english",
  fieldset: {
    legend: {
      text: "Is the end-user document in English?"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with end-user documents
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>The EUU or SU should be completed by the end-user or stockist.</p>
  </div>
</details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
