{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/end-user-7-0">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Upload an end-user document</h1>

      <form class="form" action="/pic-1" method="post">

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

      {{ govukFileUpload({
  id: "file-upload-euu",
  name: "file-upload-euu"
}) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
      name: "euu description",
      id: "euu description",
      label: {
      text: "Describe any differences between products listed in the document and products on the application (optional)"
    }
  }) }}

{{ govukRadios({
  idPrefix: "in-english",
  name: "in-english",
  fieldset: {
    legend: {
      text: "Is the end-user document in English?"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  idPrefix: "letterhead",
  name: "letterhead",
  fieldset: {
    legend: {
      text: "Does the document include at least one page on company letterhead?"
    }
  },
  items: [
    {
      value: "Yes-letterhead",
      text: "Yes"
    },
    {
      value: "No-letterhead",
      text: "No"
    }
  ]
}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
