{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/end-use-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      <h1 class="govuk-heading-xl">End-use summary</h1>

      <form class="form" action="/task-list-end-use" method="post">

        <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key ">
            Tell us about any possible end-use concerns or suspicions you have
          </dt>
          <dd id="name" class="govuk-summary-list__value">
            Your answer here
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>
  </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key ">
            Have you received any government correspondence about end-use concerns?
          </dt>
          <dd id="name" class="govuk-summary-list__value">
            Your answer here
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>
  </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key ">
            Provide details of the intended end-use of the products
          </dt>
          <dd id="type" class="govuk-summary-list__value">
            Your answer here
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>
  </dd>
        </div>


    </dl>


        <button class="govuk-button" data-module="govuk-button">Submit</button>

      </form>

    </div>
  </div>

{% endblock %}
