{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Have you received any government correspondence about end-use concerns?</h1>

<p>This includes any letters or emails you have received from Border Force, the Export Control Joint Unit (ECJU) or HMRC.</p>
      <form class="form" action="/end-use-1" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set refHtml %}
      {{ govukInput({
        id: "ref",
        name: "ref",
        type: "ref",
        autocomplete: "ref",
        spellcheck: false,
        classes: "govuk-input--width-20",
        label: {
          text: "If you have received a letter or email from government, enter the reference "
        }
      }) }}
      {% endset -%}


        {{ govukCheckboxes({
              idPrefix: "any-letter",
          name: "any-letters",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
        items: [
        {
          value: "wmd",
          text: "Products may be used in weapons of mass destruction (chemical, biological or nuclear), or in missiles capable of delivering those weapons",
  conditional: {
    html: refHtml
  }
        },
            {
              value: "military",
              text: "Products may be subject to military end-use controls",
      conditional: {
        html: refHtml
      }
            },
                    {
              value: "wmd",
              text: "Products may be used for internal repression or serious human rights violations",
      conditional: {
        html: refHtml
      }
            },
            {
     divider: "or"
   },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}


        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with end-use concerns
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>End-use concerns can apply to items not listed in the UK Strategic Export Control Lists. </p>
    <p>Weapons of Mass Destruction (WMD) end-use catch-all control applies to items used in connection with the development, production, handling, operation, maintenance, storage, detection, identification or dissemination of chemical, biological or nuclear weapons or other nuclear explosive devices, or the development, production, maintenance or storage of missiles capable of delivering such weapons.</p>
    <p><a href="https://www.gov.uk/guidance/supplementary-wmd-end-use-controls">Guidance on WMD end-use controls</a></p>
    <p>The military end-use catch-all control applies if the purchasing country or country of destination is subject to an arms embargo.</p>
    <p><a href="https://www.gov.uk/guidance/military-end-use-control-guidance-notes#extracts-from-relevant-military-end-use-controls-legislation">Guidance on military end-use controls</a></p>
    <p>Internal repression or serious human rights end-use catch-all control applies to items that are or may be intended, in their entirety or in part, for use in connection with internal repression or the commission of serious violations of human rights and international humanitarian law.</p>
    </div>
</details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
