{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/end-user-6">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Do you have an end-user document?</h1>

      <p class="govuk-body">You will be asked to upload either an <a href="https://www.gov.uk/government/publications/end-user-undertaking-euu-form"> end-user undertaking</a> or <a href="https://www.gov.uk/government/publications/stockist-undertaking-su-form">stockist undertaking</a> completed by the end-user or stockist.</p>
      <p> Products and parties listed in the document should match as closely as possible to the products and parties listed in the application.</p>
      <p> All products on the application must appear in the document.</p>
      <br>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {% set noeuuHtml %}
{{ govukTextarea({
    name: "no-euu",
    id: "no-euu",
    hint: {
      text: "Explain why you do not have an end-user undertaking or stockist undertaking."
    }
  }) }}
{% endset -%}








{{ govukRadios({
  idPrefix: "euu",
  name: "euu",

  items: [
  {
     value: "yes",
     text: "Yes"
   },
      {
      value: "euu-no",
      text: "No, I do not have an end-user undertaking or stockist undertaking",
      conditional: {
        html: noeuuHtml
      }
    }
  ]
}) }}

      <form class="form" action="/end-user-7-individual" method="post">


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
