{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/end-use-2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Have you received European military products under a transfer licence from a European Union country that have export limitations attached?</h1>

      <form class="form" action="/end-use-3-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "transfer-licence",
    name: "transfer-licence",
    fieldset: {
    legend: {
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
    }
    },
        items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
