{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/journey-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Are the products being shipped from the UK on an air waybill or bill of lading?</h1>

      <form class="form" action="/journey-5" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set noHtml %}
{{ govukTextarea({
  id: "explain",
  name: "explain",
  type: "no",
  autocomplete: "no",
  spellcheck: false,
  classes: "govuk-label--1",
  label: {
    text: "Provide details of the route of the products"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "shipping",
  name: "shipping",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No",
      conditional: {
        html: noHtml
      }
    }
  ]
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with airway bill and bill of lading
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>An air waybill is a receipt issued by an international airline for goods, and evidence of the contract of carriage. It obliges the carrier to carry the goods to the airport of destination, according to specified conditions. It is a document of title, which proves ownership, and is non-negotiable.</p>
    <p>A bill of lading is a contract between the owner of the goods and the carrier. It is a receipt, contains the terms of the carriage contract, and importantly, is a document of title, which proves ownership of the goods.</p>
  <a href="https://www.great.gov.uk/advice/prepare-for-export-procedures-and-logistics/understand-international-trade-terms/"> Understand international trade terms (opens in new tab)</a>
</details>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
