{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/journey-5">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">Product location and journey summary</h1>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Where will the products begin their export journey?
      </dt>
      <dd class="govuk-summary-list__value">
        Great Britain
      </dd>
      <dd class="govuk-summary-list__actions">
        <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/none">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are the products being permanently exported?
      </dt>
      <dd class="govuk-summary-list__value">
        No, this is a temporary export
      </dd>
      <dd class="govuk-summary-list__actions">
        <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/none">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

      </dd>
    </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Explain why the products are being exported temporarily
          </dt>
          <dd class="govuk-summary-list__value">

              To be used in demonstration

          </dd>
          <dd class="govuk-summary-list__actions">

              <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/none">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

          </dd>
        </div>



    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Will the products remain under your direct control while overseas?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>

      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Who will be in control of the products while overseas, and what is your relationship to them?
      </dt>
      <dd class="govuk-summary-list__value">
        Outsourced presentation team including security guards will be in control of the items while overseas
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Proposed date the products will return to the UK
      </dt>
      <dd class="govuk-summary-list__value">
      12 11 2023
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are the products being shipped from the UK on an air waybill or bill of lading?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Who are the products going to?
      </dt>
      <dd class="govuk-summary-list__value">
        Directly to the end-user
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>

      </dd>
    </div>

        </div>


      <form action="/task-list" method="post" novalidate>

        <input type="hidden" name="products-firearm-summary" value="true">

  <button class="govuk-button" data-module="govuk-button">Submit</button>

      </form>

{% endblock %}
