{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/journey-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Explain why the products are being exported temporarily</h1>

      <form class="form" action="/journey-2" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  id: "explain-temp",
  name: "explain-temp",
  classes: "govuk-label--1"
}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
