{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/journey-4">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who are the products going to?</h1>

      <form class="form" action="/journey-summary" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "how-exported",
  name: "how-exported",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "direct",
      text: "Directly to the end-user"
    },
    {
      value: "via-consignee",
      text: "To an end user via a consignee"
    },
    {
      value: "with-third-party",
      text: "To an end-user via a consignee, with additional third parties"
    }
  ]
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with end user, consignee and third party
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>An end-user receives the products in the destination country. They either use the products themselves, resell from stock, or export them again to another country.</p>
    <p>A consignee receives the products and then delivers or sells them to the end-user.</p>
    <p>A third party is involved in the export but not regarded as a consignee or end-user, for example they might be an agent, broker, consultant or distributor.</p>
    <p>For products being exported again passed their first destination, there may also be an ultimate end-user. An ultimate end-user in a third country receives goods via an onward export from the end user.</p>
    </div>
</details>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
