{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Where will the products beginning their export journey?</h1>

      <form class="form" action="/journey-1" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "location",
name: "location",
fieldset: {
  legend: {
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},
        items: [
            {
              value: "Great_Britain",
              text: "Great Britain"
            },
            {
              value: "Northern_Ireland",
              text: "Northern Ireland"
            }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with where the products begin their journey
    </span>
  </summary>
  <div class="govuk-details__text">
  <p>For physical products (including software stored on memory devices or hardcopy technology) this is the place where they are packed for export.</p>
  <p>For intangible items such as software and technology (for example those sent over the internet), this is the location of the official business premises of the individual who is permitting this activity.</p>
  </div>
</details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
