{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/end-user-9">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Upload a prior import consent (PIC) document</h1>

      <form class="form" action="/pic-2-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

            {{ govukFileUpload({
          id: "file-upload-pcf",
          name: "file-upload-pcf"
        }) }}

    {{ govukDateInput({
    id: "expiry-date",
    namePrefix: "expiry-date",
    fieldset: {
    legend: {
      text: "Enter the PIC expiry date"
    }
    },
    hint: {
    text: "For example, 30 9 2024"
    }
    }) }}

                  {{ govukRadios({
                idPrefix: "in-english",
                name: "in-english",
                fieldset: {
                  legend: {
                    text: "Is the PIC document in English?"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes"
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}

            <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
