{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      <h1 class="govuk-heading-xl">AX50 ELR rifle has been saved for reuse</h1>

      <p>This item has been saved to your product list so that you can reuse it for future applications.

      <form class="form" action="/" method="post">

  	<dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
  		<div class="govuk-summary-list__row">
  			<dt class="govuk-summary-list__key">
  				Name
  			</dt>
  			<dd class="govuk-summary-list__value">
  				AX50 ELR rifle
  			</dd>
  			<dd class="govuk-summary-list__actions">
  			</dd>
  		</div>



  				<div class="govuk-summary-list__row">
  					<dt class="govuk-summary-list__key">
  						Control list entry
  					</dt>
  					<dd class="govuk-summary-list__value">

  							ML1a

  					</dd>
  					<dd class="govuk-summary-list__actions">

  							<a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-component-ammunition-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

  					</dd>
  				</div>



  		<div class="govuk-summary-list__row">
  			<dt class="govuk-summary-list__key">
  				Security grading
  			</dt>
  			<dd class="govuk-summary-list__value">
  				Yes
  			</dd>
  			<dd class="govuk-summary-list__actions">

  					<a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

  			</dd>
  		</div>
  		<div class="govuk-summary-list__row">
  			<dt class="govuk-summary-list__key">
  				Calibre
  			</dt>
  			<dd class="govuk-summary-list__value">
          .50 BMG
  			</dd>
  			<dd class="govuk-summary-list__actions">

  					<a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#description">Change</a>

  			</dd>
  		</div>

  		<div class="govuk-summary-list__row">
  			<dt class="govuk-summary-list__key">
  				Replica
  			</dt>
  			<dd class="govuk-summary-list__value">
  			No
  			</dd>
  			<dd class="govuk-summary-list__actions">

  					<a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#part_number">Change</a>

  			</dd>
  		</div>

  		<div class="govuk-summary-list__row">
  			<dt class="govuk-summary-list__key">
  				Registered firearms dealer
  			</dt>

  				<dd class="govuk-summary-list__value">
  					Yes
  				</dd>

  			<dd class="govuk-summary-list__actions">

  					<a id="change-good-controlled" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#pane_is_good_controlled">Change</a>

  			</dd>
  		</div>
  		<div class="govuk-summary-list__row">
  			<dt class="govuk-summary-list__key">
  				Section 5 authority
  			</dt>
  			<dd class="govuk-summary-list__value">
  				Yes
  			</dd>
  			<dd class="govuk-summary-list__actions">

  					<a id="change-good-grading" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-grading/">Change</a>

  			</dd>
  		</div>

  					<div class="govuk-summary-list__row">
  						<dt class="govuk-summary-list__key">
  							Product documentation
  						</dt>
  						<dd class="govuk-summary-list__value">
  							Yes
  						</dd>
  						<dd class="govuk-summary-list__actions">

  								<a id="change-year-of-manufacture" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-component-ammunition-details/year-of-manufacture/">Change <span class="govuk-visually-hidden">Year of manufacture</span></a>

  						</dd>
  					</div>
  				</div>

                <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

      </div>





{% endblock %}
