{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-nf-technology-software-military-use">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">'Augue integer tempus' has been saved</h1>

    <p>This item has been saved to your product list so that you can reuse it for future applications.</p>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Select the type of product
        </dt>
        <dd class="govuk-summary-list__value">
          Technology
        </dd>
        <dd class="govuk-summary-list__actions">
          <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-firearm-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

        </dd>
      </div>







          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Give the product a descriptive name
            </dt>
            <dd class="govuk-summary-list__value">

                Augue integer tempus

            </dd>
            <dd class="govuk-summary-list__actions">

                <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-firearm-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

            </dd>
          </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you know the product's control list entry?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">

            <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Enter the control list entry
        </dt>
        <dd class="govuk-summary-list__value">
          ML1a
        </dd>
        <dd class="govuk-summary-list__actions">

            <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Part number (optional)
        </dt>
        <dd class="govuk-summary-list__value">
        5826952672
        </dd>
        <dd class="govuk-summary-list__actions">

            <a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#description">Change</a>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does the product have a government security grading or classification?
        </dt>
        <dd class="govuk-summary-list__value">

            No

        </dd>
        <dd class="govuk-summary-list__actions">

            <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-firearm-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

        </dd>
      </div>






      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does the product include security features to protect information?
        </dt>
        <dd class="govuk-summary-list__value">
        No
        </dd>
        <dd class="govuk-summary-list__actions">

            <a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#part_number">Change</a>

        </dd>
      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Will the product be declared at customs?
        </dt>
        <dd class="govuk-summary-list__value">
        No, the product is sent electronically
        </dd>
        <dd class="govuk-summary-list__actions">

            <a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#part_number">Change</a>

        </dd>
      </div>





          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Do you have a document that shows what your product is and what it’s designed to do?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a id="change-good-grading" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-grading/">Change</a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Is the document rated above Official-sensitive?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a id="change-good-grading" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-grading/">Change</a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Upload a document that shows what your product is designed to do
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="/none"> my-tech-spec.pdf</a>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a id="change-good-grading" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-grading/">Change</a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is the product specially designed or modified for military use?
      </dt>
      <dd class="govuk-summary-list__value">
    Yes, it’s specially designed for military use
      </dd>
      <dd class="govuk-summary-list__actions">
        <a id="change-good-grading" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-grading/">Change</a>
    </dd>
  </div>




  </div>

      <form action="/products-nf-technology-software-12-1" method="post" novalidate>

        <input type="hidden" name="products-firearm-summary" value="true">

  <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

{% endblock %}
