{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      <h1 class="govuk-heading-xl">Tell us about the products</h1>

      <p> Where possible, please add items in the same order as they are shown on the end user undertaking document. This will help case officers process applications quickly.</p>

      <form class="form" action="/task-list-products" method="post">

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Add a new product",
           href: "/products-1-categories-1",
          classes: "govuk-button--secondary"
        }) }}

{{ govukButton({
  text: "Add a product from your saved products list",
  classes: "govuk-button--secondary"
}) }}
<br>
<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Quantity</th>
					<th scope="col" class="govuk-table__header">Value</th>

				</tr>
			</thead>
      <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Lorem ipsum dolor</th>
      <td class="govuk-table__cell">7</td>
      <td class="govuk-table__cell">£7887</td>

            <td class="govuk-table__cell">
              <a class="govuk-link" href="/none">
              Remove
            </a>
          </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Sit amet consectetur</th>
      <td class="govuk-table__cell">22</td>
      <td class="govuk-table__cell">£84797</td>

            <td class="govuk-table__cell">
              <a class="govuk-link" href="/none">
              Remove
            </a>
          </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Adipiscing eli nulla</th>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">£6429</td>

            <td class="govuk-table__cell">
              <a class="govuk-link" href="/none">
              Remove
            </a>
          </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Sed sodales ipsum</th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">£6887</td>

            <td class="govuk-table__cell">
              <a class="govuk-link" href="/none">
              Remove
            </a>
          </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">In eget blandit</th>
      <td class="govuk-table__cell">11</td>
      <td class="govuk-table__cell">£1393</td>

            <td class="govuk-table__cell">
              <a class="govuk-link" href="/none">
              Remove
            </a>
          </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Augue integer tempus</th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">£7367</td>

            <td class="govuk-table__cell">
              <a class="govuk-link" href="/none">
              Remove
            </a>
          </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Metus eu ante</th>
      <td class="govuk-table__cell">7</td>
      <td class="govuk-table__cell">£988</td>

            <td class="govuk-table__cell">
              <a class="govuk-link" href="/none">
              Remove
            </a>
          </td>
    </tr>


  </tbody>
      </table>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
