{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-ms-12-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Quantity and value</h1>

      <form class="form" action="/products-ms-summary-part-2" method="post">


        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "measurements",
  name: "measurements",
  fieldset: {
    legend: {
      text: "Unit of measurement"
    }
  },
  items: [
    {
      value: "items",
      text: "Items"
    },
    {
      value: "tonne",
      text: "Tonnes"
    },
    {
      value: "kilograms",
      text: "Kilograms"
    },
    {
      value: "grams",
      text: "Grams"
    },
    {
      value: "milligrams",
      text: "Milligrams"
    },
    {
      value: "micrograms",
      text: "Micrograms"
    },
    {
      value: "metres",
      text: "Metres"
    },
    {
      value: "square-metres",
      text: "Square metres"
    },
    {
      value: "cubic-metres",
      text: "Cubic metres"
    },
    {
      value: "litres",
      text: "Litres"
    },
    {
      value: "millilitres",
      text: "Millilitres"
    }
  ]
}) }}

{{ govukInput({
  label: {
    text: "Quantity"
  },
  classes: "govuk-input--width-10",
  id: "quantity",
  name: "quantity"
}) }}

{{ govukInput({
  label: {
    text: "Total value"
  },
    id: "value",
    name: "value",
    prefix: {
      text: "£"
    },
    classes: "govuk-input--width-10",
    spellcheck: false
  }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
