{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-technology-software-summary">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Will the product be onward exported to any additional countries?</h1>

      <p>Tell us if the item will be exported again, beyond its first destination.</p>

      <p>This includes when the product has been incorporated into another item.

      <form class="form" action="/products-technology-software-12-1-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "exported-again",
name: "exported-again",
fieldset: {
  legend: {
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},

        items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
          }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with incorporated products
    </span>
  </summary>
  <div class="govuk-details__text">
    We need to know if the product will be onward exported, regardless of whether it has been integrated into a higher system, platform or software.
  </div>
</details>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
