{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Is the product a sound moderator designed for any of the following weapons?</h1>

          <p>Some firearm categories require a criminal conviction check and additonal documentation.</p>

      <form class="form" action="/products-accessory-1" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukCheckboxes({
          idPrefix: "type-of-accessory-product",
          name: "type-of-accessory-product",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "Non-automatic-shotgun",
            text: "Shotgun (non-automatic)"
          },
          {
            value: "Non-automatic-rim-fired-rifle",
            text: "Rim-fired rifle (non-automatic)"
          },
          {
            value: "Non-automatic-rim-fired-handgun",
            text: "Rim-fired handgun (non-automatic)"
          },
          {
            value: "rifle-pre-1938",
            text: "Rifle made before 1938"
          },
          {
            value: "combination-gun-made-before-1938",
            text: "Combination gun made before 1938"
          },
            {
      divider: "or"
    },
            {
                value: "none",
                text: "None of the above"
              }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
