{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-component-ammunition-5">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Is the product a replica firearm?</h1>

      <form class="form" action="/products-component-ammunition-7" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set yesHtml %}
{{ govukInput({
  id: "replica-yes",
  name: "replica-yes",
  type: "replica",
  autocomplete: "replica",
  spellcheck: false,
  label: {
    text: "Describe the firearm that the product is a replica of"
  }
}) }}
{% endset -%}

        {{ govukRadios({
          idPrefix: "cle",
name: "cle",
fieldset: {
  legend: {
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},
        items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
        html: yesHtml
      }
            },
            {
              value: "No",
              text: "No"
          }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
