{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-component-ammunition-16-1">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">Product summary</h1>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Onward exported
      </dt>
      <dd class="govuk-summary-list__value">
        Your answer here
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

      </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Quantity
      </dt>
      <dd class="govuk-summary-list__value">
      Your answer here
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#part_number">Change</a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Value
      </dt>

        <dd class="govuk-summary-list__value">
          Your answer here
        </dd>

      <dd class="govuk-summary-list__actions">

          <a id="change-good-controlled" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#pane_is_good_controlled">Change</a>

      </dd>
    </div>



        </div>


      <form action="/task-list" method="post" novalidate>

        <input type="hidden" name="products-component-ammunition-summary" value="true">

  <button class="govuk-button" data-module="govuk-button">Submit</button>

      </form>
      </br>
      </br>

      <div class="govuk-grid-row">

          <h2 class="govuk-heading-m">Saved product details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firearm product type
              </dt>
              <dd class="govuk-summary-list__value">
                Component of firearm ammunition
              </dd>
              <dd class="govuk-summary-list__actions">
                <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-component-ammunition-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                In category
              </dt>
              <dd class="govuk-summary-list__value">

                  Your answer here

              </dd>
              <dd class="govuk-summary-list__actions">

                  <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-component-ammunition-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

              </dd>
            </div>




                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="govuk-summary-list__value">

                      Your answer here

                  </dd>
                  <dd class="govuk-summary-list__actions">

                      <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-component-ammunition-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

                  </dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Part number
                  </dt>
                  <dd class="govuk-summary-list__value">

                      Your answer here

                  </dd>
                  <dd class="govuk-summary-list__actions">

                      <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-component-ammunition-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

                  </dd>
                </div>



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Control list entry
              </dt>
              <dd class="govuk-summary-list__value">
                Your answer here
              </dd>
              <dd class="govuk-summary-list__actions">

                  <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Security grading
              </dt>
              <dd class="govuk-summary-list__value">

                  Your answer here

              </dd>
              <dd class="govuk-summary-list__actions">

                  <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-component-ammunition-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

              </dd>
            </div>




            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Calibre
              </dt>
              <dd class="govuk-summary-list__value">
                Your answer here
              </dd>
              <dd class="govuk-summary-list__actions">

                  <a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#description">Change</a>

              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered firearms dealer
              </dt>

                <dd class="govuk-summary-list__value">
                  Yes
                </dd>

              <dd class="govuk-summary-list__actions">

                  <a id="change-good-controlled" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#pane_is_good_controlled">Change</a>

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Section 5 authority
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">

                  <a id="change-good-grading" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-grading/">Change</a>

              </dd>
            </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Product documentation
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Your answer here
                    </dd>
                    <dd class="govuk-summary-list__actions">

                        <a id="change-year-of-manufacture" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-component-ammunition-details/year-of-manufacture/">Change <span class="govuk-visually-hidden">Year of manufacture</span></a>

                    </dd>
                  </div>
                </div>



{% endblock %}
