{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-nf-technology-software-15">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">'Augue integer tempus' has been added to the application</h1>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">


        <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will the product be onward exported to any additional countries?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">

                <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Will the item be altered or processed before it is exported again?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">

                <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Explain how the product will be processed or altered
            </dt>
            <dd class="govuk-summary-list__value">
              It will be silver coated and engraved.
            </dd>
            <dd class="govuk-summary-list__actions">

                <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will the product be incorporated into another item before it is onward exported?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">

                <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

            </dd>
          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Number of items
            </dt>
            <dd class="govuk-summary-list__value">
            4
            </dd>
            <dd class="govuk-summary-list__actions">

                <a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#part_number">Change</a>

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Total value
            </dt>

              <dd class="govuk-summary-list__value">
              £1778
              </dd>

            <dd class="govuk-summary-list__actions">

                <a id="change-good-controlled" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#pane_is_good_controlled">Change</a>

            </dd>
          </div>



              </div>


            <form action="/products-1" method="post" novalidate>

              <input type="hidden" name="products-firearm-summary" value="true">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

            </form>
            </br>
            </br>

            <div class="govuk-grid-row">

                <h2 class="govuk-heading-m">Saved product details for 'Augue integer tempus'</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Select the type of product
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Technology
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>







                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Give the product a descriptive name
                        </dt>
                        <dd class="govuk-summary-list__value">

                            Augue integer tempus

                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                      </div>



                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you know the product's control list entry?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Enter the control list entry
                    </dt>
                    <dd class="govuk-summary-list__value">
                      ML1a
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Part number (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                    5826952672
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Does the product have a government security grading or classification?
                    </dt>
                    <dd class="govuk-summary-list__value">

                        No

                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>






                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Does the product include security features to protect information?
                    </dt>
                    <dd class="govuk-summary-list__value">
                    No
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Will the product be declared at customs?
                    </dt>
                    <dd class="govuk-summary-list__value">
                    No, the product is sent electronically
                    </dd>
                    <dd class="govuk-summary-list__actions">
            
                    </dd>
                  </div>


                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Do you have a document that shows what your product is and what it’s designed to do?
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Yes
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Is the document rated above Official-sensitive?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        No
                      </dd>
                      <dd class="govuk-summary-list__actions">
                          </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Upload a document that shows what your product is designed to do
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="/none"> my-tech-spec.pdf</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Is the product specially designed or modified for military use?
                  </dt>
                  <dd class="govuk-summary-list__value">
                Yes, it’s specially designed for military use
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      </dd>
              </div>
                </div>




      {% endblock %}
