{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-nf-technology-software-info-security">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Will the product be declared at customs?</h1>

      <form class="form" action="/products-nf-technology-software-10-1" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}


        {{ govukRadios({
          idPrefix: "customs",
name: "customs",
fieldset: {
  legend: {
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},

        items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No, the product is sent electronically",
              conditional: {
        html: noHtml
      }
          }
          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Help with export declarations
</span>
</summary>
<div class="govuk-details__text">
  If your product is considered physical (tangible) it is declared at customs.
  If it is sent digitally, such as through software or email, it is considered intangible and does not need to be declared at customs.
</div>
</details>

    </div>
  </div>

{% endblock %}
