{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      <h1 class="govuk-heading-xl">Products for export</h1>

      <p> Where possible, please add items in the same order as they are shown on the end user undertaking document. This will help case officers process applications quickly.</p>

      <form class="form" action="/task-list" method="post">

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Add a new product",
           href: "/products-2",
          classes: "govuk-button--secondary"
        }) }}

{{ govukButton({
  text: "Add a product from your saved products list",
  classes: "govuk-button--secondary"
}) }}
<br>
<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Category</th>
					<th scope="col" class="govuk-table__header">Serial numbers</th>
					<th scope="col" class="govuk-table__header">Quantity</th>
					<th scope="col" class="govuk-table__header">Value</th>

				</tr>
			</thead>
      <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">AX50 ELR rifle</th>
      <td class="govuk-table__cell">Firearm</td>
      <td class="govuk-table__cell">Added</td>
      <td class="govuk-table__cell">7</td>
      <td class="govuk-table__cell">£7886</td>

            <td class="govuk-table__cell">
              <a class="govuk-link" href="/none">
              Remove
            </a>
          </td>
    </tr>
  </tbody>
      </table>

        <button class="govuk-button" data-module="govuk-button">Submit</button>

      </form>

    </div>
  </div>

{% endblock %}
