{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-firearm-16-1">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">'Blaser R8 professional bolt action rifle' has been added to the application</h1>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Was the product made before 1938?
          </dt>
          <dd class="govuk-summary-list__value">

              No

          </dd>
          <dd class="govuk-summary-list__actions">

              <a id="change-is-sporting-shotgun" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-firearm-details/sporting-shotgun/">Change <span class="govuk-visually-hidden">Sporting shotgun</span></a>

          </dd>
        </div>



    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Will the product be onward exported to any additional countries?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Will the item be altered or processed before it is exported again?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Explain how the product will be processed or altered
      </dt>
      <dd class="govuk-summary-list__value">
        It will be silver coated and engraved.
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

      </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Will the product be incorporated into another item before it is onward exported?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#name">Change</a>

      </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Has the product been deactivated?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#description">Change</a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Number of items
      </dt>
      <dd class="govuk-summary-list__value">
      4
      </dd>
      <dd class="govuk-summary-list__actions">

          <a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#part_number">Change</a>

      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Total value
      </dt>

        <dd class="govuk-summary-list__value">
        £1778
        </dd>

      <dd class="govuk-summary-list__actions">

          <a id="change-good-controlled" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/add-new/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-good/#pane_is_good_controlled">Change</a>

      </dd>
    </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Will each product have a serial number or other identification marking?
            </dt>
            <dd class="govuk-summary-list__value">
            Yes, I can add serial numbers later
            </dd>
            <dd class="govuk-summary-list__actions">

                <a id="change-year-of-manufacture" class="govuk-link govuk-link--no-visited-state" href="/applications/45cf442d-550e-4ee7-91ac-2359cf97549d/goods/f727aaaf-0ea6-488f-b61c-1cdaf171ecad/edit-firearm-details/year-of-manufacture/">Change <span class="govuk-visually-hidden">Year of manufacture</span></a>

            </dd>
          </div>
        </div>


      <form action="/task-list" method="post" novalidate>

        <input type="hidden" name="products-firearm-summary" value="true">

  <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
      </br>
      </br>

      <div class="govuk-grid-row">

          <h2 class="govuk-heading-m">Saved product details for 'Blaser R8 professional bolt action rifle'</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Select the type of firearm product
              </dt>
              <dd class="govuk-summary-list__value">
                Firearm
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firearm category
              </dt>
              <dd class="govuk-summary-list__value">

                Non automatic shotgun

              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>




                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Give the product a descriptive name
                  </dt>
                  <dd class="govuk-summary-list__value">

                      Blaser R8 professional bolt action rifle

                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
                </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Assessed control list entries
              </dt>
              <dd class="govuk-summary-list__value">
                FRAI to Egypt from Great Britain
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does the product have a government security grading or classification?
              </dt>
              <dd class="govuk-summary-list__value">

                  No

              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>




            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the calibre of the product?
              </dt>
              <dd class="govuk-summary-list__value">
              .22
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is the product a replica firearm?
              </dt>
              <dd class="govuk-summary-list__value">
              No
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you a registered firearms dealer?
              </dt>

                <dd class="govuk-summary-list__value">
                No
                </dd>

              <dd class="govuk-summary-list__actions">
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which section of the Firearms Act 1968 is the product covered by?
              </dt>
              <dd class="govuk-summary-list__value">
                Section 5
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Upload your section 5 letter of authority
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="/none"> my-s5-auth-letter.pdf</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                  </div>



                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Reference number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    15665498
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    29 March 2023
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Do you have a document that shows what your product is and what it’s designed to do?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
              </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Is the document rated above Official-sensitive?
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                    </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Upload a document that shows what your product is designed to do
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="/none"> my-tech-spec.pdf</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                  </dd>
          </div>





          </div>


{% endblock %}
