{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-ms-10-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Is the product specially designed or modified for military use?</h1>

            <form class="form" action="/products-ms-summary" method="post">

              {% from "govuk/components/radios/macro.njk" import govukRadios %}
                {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

                {% set noHtml %}
                {{ govukTextarea({
                  name: "explain-sn",
                  id: "explain-sn",
                  label: {
                    text: "Provide details of the modifications"
                  }
                }) }}
                {% endset -%}

                            {{ govukRadios({
                  idPrefix: "sn",
        name: "sn",
        fieldset: {
          legend: {
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

                items: [
                    {
                      value: "Yes-specially",
                      text: "Yes, it is specially designed for military use"
                    },

                    {
                      value: "Yes-modified",
                      text: "Yes, it is modified for military use",
                      conditional: {
                html: noHtml
              }
                    },

                    {
                      value: "No",
                      text: "No"
                                    }
                  ]
                }) }}


              <button class="govuk-button" data-module="govuk-button">Continue</button>

            </form>

          </div>
        </div>

      {% endblock %}
