{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-component-ammunition-0">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Give the product a descriptive name</h1>

      <form class="form" action="/products-component-ammunition-1-partno" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
          classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
   text: "Try to match the name as closely as possible to any documentation such as the technical specification, end-user certificate or firearm certificate."
 },
          id: "descriptive-name",
          name: "descriptive-name"
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with naming your product
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>The product name should be specific enough to help case officers know exactly what the item is.</p>
    <p>Where appropriate it should include the make, model and type of item. It should not contain serial numbers or part numbers. </p>
    <p>A descriptive product name will also help you identify and use it in any future applications.</p>
    <p>If you are applying for a kit containing multiple items, you'll need to upload a product description document that specifies and describes all items in the kit.</p>
    </div>
</details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
