{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-pvsm-deo-10-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Describe the product and what it is designed to do</h1>

            <form class="form" action="/products-pvsm-deo-military-use" method="post">

              {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

  {{ govukTextarea({
    name: "explain-purpose",
    id: "explain-purpose"
  }) }}


              <button class="govuk-button" data-module="govuk-button">Continue</button>

            </form>

          </div>
        </div>

      {% endblock %}
