{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/products-component-ammunition-13-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Does it have valid proof marks</h1>

      <form class="form" action="/products-component-ammunition-15" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% set noHtml %}
        {{ govukTextarea({
          name: "explain-proofs",
          id: "explain-proofs",
          label: {
            text: "Explain why the product doesn't have valid proof marks"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "deactivated",
name: "deactivated",
fieldset: {
  legend: {
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},

        items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No",
              conditional: {
        html: noHtml
      }
          }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with valid proof marks
    </span>
  </summary>
  <div class="govuk-details__text">
Add some explanatory text here
    </div>
</details>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
