{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/security-approval-v2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Provide details of your written approval</h1>

      <form class="form" action="/journey-summary" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
              {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Enter any details you have about the MOD contracting authority, reference numbers, the signatory of the approval, or the Project Security Instruction."
        }
      }) }}



      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
