{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-list-start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Some security classified products need an approval before they can be exported</h1>

      <p>Do you have a Ministry of Defence security approval (such as F680 or F1686)?</p>

      <form class="form" action="/security-f1686" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}


        {% set yesHtml %}
        {{ govukCheckboxes({
          idPrefix: "security-grading",
      name: "security-grading",
      fieldset: {
      legend: {
        text: "What type of approval do you have?",
        isPageHeading: true
      }
    },

        items: [
            {
              value: "f680",
              text: "F680"
            },
            {
              value: "f1686",
              text: "F1686"
            },
            {
              value: "other",
              text: "Other"
            }
          ]
        }) }}

{% endset -%}


              {{ govukRadios({
          idPrefix: "security-grading",
name: "security-grading",
fieldset: {
  legend: {
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},

        items: [
        {
            value: "No",
            text: "No"
          },
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            }

          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Help with security approvals
        </span>
        </summary>
        <div class="govuk-details__text">
      <p>Exporters must obtain a Ministry of Defence (MOD) Form 680 approval in order to release information or equipment classified Official-sensitive and above to foreign entities.</p>
      <p><a href="https://www.gov.uk/government/publications/ministry-of-defence-form-680-procedure-guidance"> MOD Form 680 guidance (opens in new tab)</a></p>

      <p>An F1686 is an approval to sub-contract or collaborate on protectively marked (classified) work.</p>

        </div>
        </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
