{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/security-approval-v2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is the F680 reference number?</h1>

      <form class="form" action="/journey-summary" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          id: "f680ref",
          name: "f680ref",
          spellcheck: false,
          classes: "govuk-!-width-two-third"
        }) }}


      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
