{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply to export strategic, military or dual-use products
      </h1>

      <form class="form" action="/success" method="post">

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 11 mandatory sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Create  application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="application-type-1" aria-describedby="eligibility-status">
                  Select licence type
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">cannot started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/reference-1" aria-describedby="company-information-status">
                  Choose a reference name
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">cannot started yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>Complete export details
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="location-1" aria-describedby="contact-details-status">
                  Provide product location and journey
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">cannot started yet</strong>
            </li>
                    <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/correspondence-1-v2" aria-describedby="list-convictions-status">
                Describe how the products will be used
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">cannot started yet</strong>
            </li>
            <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="/products-1-1" aria-describedby="list-convictions-status">
      Tell us about the products
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="product-status">cannot started yet</strong>
  </li>
            </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Tell us about other parties
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/end-user-1" aria-describedby="list-convictions-status">
                Add an end-user
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">cannot started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/consignee-1" aria-describedby="list-convictions-status">
                Add a consignee
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">cannot started yet</strong>
            </li>
                    </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Additional information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/supporting-documents" aria-describedby="list-convictions-status">
                Upload supporting documents
                    </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="supporting-information-status">Optional</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/supporting-notes" aria-describedby="list-convictions-status">
                Add notes for case officers
                    </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="supporting-information-status">Optional</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Finalise application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/criminal-convictions-gb" aria-describedby="list-convictions-status">
                Disclose criminal convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">cannot started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/declaration-1" aria-describedby="list-convictions-status">
                Make declaration
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">cannot started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/foi-1" aria-describedby="list-convictions-status">
                Agree to Freedom of Information
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">cannot started yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

  <button class="govuk-button" data-module="govuk-button">Submit application</button>

</form>


{% endblock %}
