{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/ultimate-end-user-6">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      <h1 class="govuk-heading-xl">Ultimate end-user summary</h1>

      <form class="form" action="/task-list" method="post">

        <dl class="govuk-summary-list">

  			<div class="govuk-summary-list__row">
  				<dt class="govuk-summary-list__key ">
  					Name
  				</dt>
  				<dd id="name" class="govuk-summary-list__value">
  					David Jones Ltd
  				</dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>
  </dd>
  			</div>

  			<div class="govuk-summary-list__row">
  				<dt class="govuk-summary-list__key ">
  					Type
  				</dt>
  				<dd id="type" class="govuk-summary-list__value">
  					Commercial
  				</dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>
  </dd>
  			</div>

  			<div class="govuk-summary-list__row">
  				<dt class="govuk-summary-list__key ">
  					Address
  				</dt>
  				<dd id="address" class="govuk-summary-list__value">
  					44 Hercules Road, London, United Kingdom
  				</dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>
  </dd>
  			</div>

  			<div class="govuk-summary-list__row">
  				<dt class="govuk-summary-list__key ">
  					Website
  				</dt>
  				<dd id="website" class="govuk-summary-list__value">
  				jsmithexports.com
  				</dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>
  </dd>
  			</div>

  			<div class="govuk-summary-list__row">
  				<dt class="govuk-summary-list__key ">
  					Document
  				</dt>
  				<dd id="document" class="govuk-summary-list__value">
  				Processing
  				</dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/none">Change</a>
  </dd>
  			</div>

  	</dl>


        <button class="govuk-button" data-module="govuk-button">Submit</button>

      </form>

    </div>
  </div>

{% endblock %}
